<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <?define InstallLocationName = "Node.js UWP Extension" ?>

    <Module Id="NodejsUwpFiles" Language="1033" Version="1.0.0.0">
        <Package Id="99218C09-4DC0-4956-8710-3841AC2F3A83" Manufacturer="Microsoft Corporation" InstallerVersion="500" />

        <?include MergeModule.wxi ?>

        <Configuration Name="Config_StartMenuLocation" Format="Key" Type="Identifier" DefaultValue="TARGETDIR" />
        <Substitution Table="Directory" Column="Directory_Parent" Row="Dir_StartMenu" Value="[=Config_StartMenuLocation]" />

        <DirectoryRef Id="TARGETDIR">
            <Directory Id="Dir_StartMenu" />
        </DirectoryRef>  
        
        <!-- Per user components -->
        <Component Id="PerUserInstallRegistry" Directory="Dir_VSInstallLocation" Guid="*">
            <Condition>NOT ALLUSERS = 1</Condition>
            <RegistryKey Root='HKCU' Key='Software\Microsoft\VisualStudio\$(var.VSTargetVersion)\ExtensionManager\EnabledExtensions'>
                <RegistryValue Type='string' Name='FD024587-891D-4902-9F2A-54564F6E7FDD,$(var.ReleaseVersion)' Value='[Dir_VSInstallLocation]'/>
            </RegistryKey>
            <RegistryKey Root='HKCU' Key='Software\Microsoft\VisualStudio\$(var.VSTargetVersion)\ExtensionManager\ExtensionTypes'>
                <RegistryValue KeyPath='yes' Type='string' Name='FD024587-891D-4902-9F2A-54564F6E7FDD,$(var.ReleaseVersion)' Value='Tool'/>
            </RegistryKey>
        </Component>

        <Component Directory="Dir_VSInstallLocation" Guid="*">
            <Condition>NOT ALLUSERS = 1</Condition>
            <File KeyPath="yes" Source='..\..\Product\VSTemplateStore.pkgdef' />
        </Component>

      <DirectoryRef Id="TARGETDIR">
        <Directory Id='ProgramFilesFolder' Name='PFiles'>
          <Directory Id='NodejsUwp' Name='NodejsUwp'>
            <Directory Id='x86' Name='x86'/>
            <Directory Id='ARM' Name='ARM'/>
            <Directory Id='x64' Name='x64'/>
          </Directory>
        </Directory>
      </DirectoryRef>

      <!--x86 binaries-->
      <Component Guid="{C0CA6134-A19A-4FB8-90C8-8D0AF0F434CE}" Directory="x86">
        <File Id="nodeuwp_x86" Source="x86\winuniversalnode.dll" KeyPath='yes' />
      </Component>
      <Component Guid="{8D40ED61-96A4-480F-9794-96DF63259866}" Directory="x86">
        <File Id="node_x86" Source="x86\node.dll" KeyPath='yes' />
      </Component>
      <Component Guid="{DD6EC17D-FD15-43D6-AE63-D915BEFCA1F7}" Directory="x86">
        <File Id="nodewrap_x86" Source="x86\winrtwrap.dll" KeyPath='yes' />
      </Component>
      <Component Guid="{10EFA5AB-B452-4BC4-8932-5186F23F1550}" Directory="x86">
        <File Id="winrt_x86" Source="x86\winrt.node" KeyPath='yes' />
      </Component>

      <!--ARM binaries-->
      <Component Guid="{6ED526AB-61FA-404E-88F0-1DAFCE78DF9A}" Directory="ARM">
        <File Id="nodeuwp_ARM" Source="ARM\winuniversalnode.dll" KeyPath='yes' />
      </Component>
      <Component Guid="{C54F84EC-9B85-4AC1-AFD7-6B9342986756}" Directory="ARM">
        <File Id="node_ARM" Source="ARM\node.dll" KeyPath='yes' />
      </Component>
      <Component Guid="{1551DA80-066C-4286-BA3A-FB8E271D2AAB}" Directory="ARM">
        <File Id="nodewrap_ARM" Source="ARM\winrtwrap.dll" KeyPath='yes' />
      </Component>
      <Component Guid="{C0A507C0-F07E-4C67-8566-5FFB0DA61D2F}" Directory="ARM">
        <File Id="winrt_ARM" Source="ARM\winrt.node" KeyPath='yes' />
      </Component>

      <!--x64 binaries-->
      <Component Guid="{F4984C23-443C-4143-8ABC-23EA64A16DEB}" Directory="x64">
        <File Id="nodeuwp_x64" Source="x64\winuniversalnode.dll" KeyPath='yes' />
      </Component>
      <Component Guid="{0384B5B5-57FA-4B37-9421-FCC6972E47D1}" Directory="x64">
        <File Id="node_x64" Source="x64\node.dll" KeyPath='yes' />
      </Component>
      <Component Guid="{D91BE344-C3C0-42DA-9D0C-F680E7C3E645}" Directory="x64">
        <File Id="nodewrap_x64" Source="x64\winrtwrap.dll" KeyPath='yes' />
      </Component>
      <Component Guid="{EB52ED9A-5918-4EB5-BB9E-9DCD752182EA}" Directory="x64">
        <File Id="winrt_x64" Source="x64\winrt.node" KeyPath='yes' />
      </Component>

      <ComponentGroupRef Id="CGroup_NodejsUwpFiles"/>
    </Module>
</Wix>
